<div class="bg-dar container-fluid">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <nav class="bg-dar navbar fixed-top navbar-expand-lg navbar-light bg-light w-full">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">WeatherApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="weather">Weather</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About</a>
                            </li>
                        </ul>
                        {{!-- <div style="display:flex;flex-direction: row; margin:0px 700px 0px">
                        <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Enter Your Cityname"
                                aria-label="Search" style="text-align: center;">
                                  </form>
                            <button class="btn btn-success">Check
                                    Now</button>
                                </div> --}}

                        {{!-- <div class="container-fluid my-5 w-50">
                            <form class="d-flex mr-8">
                                <input class="form-control me-2" type="search" placeholder="Enter Your Cityname"
                                    aria-label="Search" style="text-align: center;">
                                <button class="btn btn-success" style="margin: -20px 200px 300px;width: 150px;">Check
                                    Now</button>
                            </form>
                        </div> --}}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
